.restaurant-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.restaurant-check-label {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.restaurant-require-input-label {
  border-radius: 1px;
  background-color: #e2001b;
}

.restaurant-require-input-label-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.restaurant-submit-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #87cefa;
}

.restaurant-login-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0fbe9f;
}

.row {
color: #097864;
}

.review-star {
  color: #0fbe9f;
}

.review-star:focus {
  color: #0fbe9f;
}

.restaurant-delete-submit-button {
  border-radius: 2px;
  color: #ffffff;
  background-color: #d94b0e;
}

.reservation-button {
  color: #b2b2b2;
  background-color: #d94b0e;
}

.restaurant-favorite-add-cart {
  border-radius: 2px;
  color: #ffffff;
  background-color: #ff69b4;
}


.reservation-table {
  font-size: 2px;
  color: #87cefa;
}